/* ------------------------------------- */
/* Estilos componentes reutilizables */
/* ------------------------------------- */


/* ===================== 
   Utilidades generales.
   Buttons.
===================== */

.btn-cta {
  padding: 1rem 3rem;
  
  font-style: normal;
  text-decoration: none;
  font-size: 1.1rem;

  color:white;
  background: linear-gradient(120deg,   rgb(128, 63, 14) 30%, var(--accent-color-2) 100%);
  
  border: 1px transparent solid;
  border-radius: 0.5rem;

  transform: scale(1);
  transition: transform 0.5s ease;
}

.btn-cta:hover {  transform: scale(1.02); }


.button-scroll {
  font-style: normal;
  text-decoration: none;
  font-size: 2rem;
  color:white;
  background: none;
  border: none;
  
  width: 100%;
  text-align: center;
  opacity:0.7;
 
  /* Timing function: cómo se distribuye la velocidad a lo largo de la animación
   ease-in-out Empieza lento, acelera en el medio, termina lento
   linear Velocidad constante
   ease Empieza rápido, termina lento (default de CSS)
   ... */
  animation: upDownAnimation 3s ease-in-out infinite;
}

@keyframes upDownAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}


/* overrides bootstrap */

.btn {
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.6rem;
  --bs-border-width: 1.5px;
}

.btn-lg, .btn-md, .btn-sm{
  --bs-btn-color: white;
  --bs-btn-border-color: var(--accent-color-2);
  
  --bs-btn-hover-bg: var(--accent-color-2);
  --bs-btn-hover-border-color: var(--accent-color-2);
  
  --bs-btn-active-bg: var(--accent-color-2);
  --bs-btn-active-border-color: var(--accent-color-2);
}
.btn-lg {
  --bs-btn-font-size: 1.1rem;

  --bs-btn-padding-x: 2.4rem;
  --bs-btn-padding-y: 1rem;
}

/* .card{ width: min(20rem, 100%); }
.card-text { color: var(--txt-primary-color); }
.card-body{ justify-items: center; color: var(--accent-color-2); }
@media (max-width: 768px) { .h5 { font-size: 1.2em; } } */


/* ContactBtn.jsx -- LandingPage */
.btn-primary {
    --bs-btn-bg: var(--txt-secondary-color);
    --bs-btn-border-color: var(--txt-secondary-color);
    --bs-btn-hover-bg: var(--border-color);
    --bs-btn-hover-border-color: var(--border-color);
    --bs-btn-active-bg: var(--border-color);
    --bs-btn-active-border-color: var(--border-color);
    --bs-btn-disabled-bg: var(--txt-secondary-color);
    --bs-btn-disabled-border-color: var(--txt-secondary-color);

    max-width: min-content;
    width: min(200px, 100%);
}




/* ------------------------------------- */
/* Estilos de mis componentes en App.jsx */
/* ------------------------------------- */

/* ===================== 
   Hero.jsx
   Contiene Header, XIntro
===================== */

.hero-container{
  display: flex;
  flex-direction: column;

  height: 100vh;

  background: url(/images/background.png);
  background-position: 5%;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 1.2rem;
  justify-content: space-between;
  gap: 2rem;
}
@media(max-width:768px){
  .hero-container{
    background-position: 60% 100%;
    padding: 2rem;
  }
}


/* Animación de partículas en Hero de LandingPage */
.dust {
  position: absolute;
  /* abreviatura para definir las posiciones top, right, bottom y left */
  inset: 0;
  width: 65%;
  justify-self: end;

  overflow: hidden;
  pointer-events: none;
}

.particle {
  position: absolute;
  border-radius: 50%;
  background: var(--accent-color-2);
  filter: blur(1px);
  box-shadow:
    0 0 4px rgb(199, 101, 26, 0.8),
    0 0 10px rgb(199, 101, 26, 0.4);

  animation: float infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translate(0,0) scale(.8);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  50% {
    transform: translate(20px,-40px) scale(1);
  }

  80% {
    opacity: .6;
  }

  100% {
    transform: translate(-15px,-80px) scale(.7);
    opacity: 0;
  }
}

/* ===================== 
   Header.jsx 
   Contiene Navtab, logo
===================== */

/* TODO. Hamburguer menu MOBILE */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
  background:transparent;

  margin: 0 3rem;
  width: auto;
}

#btn-hamburger {
  display:none;
  font-size: 2rem;
}

@media (max-width: 768px) {
  #btn-hamburger{
    display:block;
  }
  
  header { 
    margin: 0;
    flex-wrap: wrap;
    width: 100%;
  }

  /* header img {order: 1;}  */

  /* header .btn.btn-outline-light { order: 2; } */
  header .btn.btn-outline-light { display: none; }

  /* .navtab-container { order: 3; } */
  .navtab-container, .navtab-container *  { display: none; }
}

/* ===================== 
   Navtab.jsx 
===================== */

/* overrides bootstrap */

.nav {
  --bs-nav-underline-link-active-color:var(--accent-color);
  --bs-nav-link-color: white;
  --bs-nav-link-hover-color: var(--accent-color);
  
  --bs-nav-link-font-size: 1rem;
  --bs-nav-link-padding-y: 0.7rem;
}

.nav-underline .nav-link.active, 
.nav-underline .show > .nav-link {
  font-weight: normal;
}

.nav-underline { --bs-nav-underline-gap: 3.5rem; }

@media (max-width: 768px) {
  .nav-underline { --bs-nav-underline-gap: 1.5rem !important; }
}


/* ===================== 
   XIntro.jsx 
   Intro de cada página
===================== */

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.8rem;

  color: white;
  
  margin: 0 10rem;
  margin-top: 4rem;
  
  width: auto;
  height: 100%;
}

.intro-container .content h1 { 
  font-size: 3.5rem;   
}

.intro-container .content p#greetings { 
  font-size: 1.4rem; 
  margin: 0;
}
.intro-container .content p#role { font-size: 2rem; }

@media(max-width:426px){
  .intro-container {
    margin: 0 !important;
  }
}

@media(max-width:768px){
  .intro-container {
    margin: 0 5rem;
  }

  .intro-container .content h1 {
    font-size: 2.5rem;
  }
  .intro-container .content p#greetings {
    font-size: 1.2rem;
  }
  .intro-container .content p#role {
    font-size: 1.7rem;
  }
}


/* LandingIntro */
.landing.intro-container .buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 3rem 0;
  text-align: center;
}

@media(max-width:426px){
  .landing.intro-container .buttons {
    margin:1.5rem 0;
    width: 100%;
    gap: 0.5rem;
  }
  .landing.intro-container .buttons a, 
  .landing.intro-container .buttons button {
    padding: 0.7rem 1.5rem; 
    width: 100%;
  }
}

/* Variante de btn-cta en LandingIntro - #my-projects-btn */
.landing.intro-container .btn-cta i { margin-left: 0.6rem; }

@media(max-width:768px){
  .landing.intro-container .btn-cta i { margin-left: 0.3rem; }
}

.landing.intro-container .btn-cta i {
  display: inline-block;
  transform: translateX(0);
  transition: transform 0.5s ease;
}

.landing.intro-container .btn-cta:hover i {
  transform: translateX(40%);  
}


/* TODO. */

/* PortfolioIntro */

/* ExperienceIntro */




/* ===================== 
   Footer.jsx 
===================== */

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-items: center;
  align-content: space-evenly;
    
  /* margin: 0; */

  color: #fff;
  background: #10163A;
  background: linear-gradient(150deg,rgba(16, 22, 58, 1) 45%, rgba(80, 44, 52, 1) 71%, rgba(198, 100, 50, 1) 100%);
}

@media(max-width:768px) {
  footer {
    
  } 
}

/* footer p, footer ul { font-size: 0.9em; } */

footer h5 { color: var(--accent-color); }

.footer-top {
  display: flex;
  flex-wrap: wrap;

  padding: 5rem 2rem;

  width: 100%;
  justify-content: space-between;
}

@media(max-width:768px) {
  .footer-top {
    padding: 2rem;
    
    width: auto;
    justify-content: left;
    gap: 3.5rem;
  }
}
@media(max-width:426px) {
  .footer-top {
    flex-direction: column;    
    gap: 1.5rem;
  }
}

.footer-top .footer-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 2rem;
}

@media(max-width:768px) {
  .footer-top .footer-item {
    padding: 0;
    gap: 2rem;
    word-break: break-all;
  }
}


.footer-top .footer-item:first-child  {
  width: min-content;
}

.footer-top .footer-item ul li i {
  font-size: 1.3rem;
  margin-right: 1rem;
  color:#fff;
}

.footer-item .profiles a {
  font-size: 1.5rem;
  margin-right: 1.7rem;
  color:#fff;
}
.footer-item .profiles .logotipo { margin-bottom: 1rem; }


.separator{
  border-left: 1.5px solid rgba(255, 255, 255, 0.345); 
  height: auto;
}
@media (max-width: 768px) {
  .separator {
    display: none;
  }
}


.footer-bottom {
  display: flex;
  flex-wrap: wrap;

  background-color: #0000004b;  
  width:100%;
  margin: 0;
  padding: 1.3rem;

  justify-content: center;
  align-items: center; 
}

.footer-bottom p { margin: 0; }

