/* Estilos de mis componentes propios dentro de los /pages */

.contenido{
  width: 100%;
}

/* ------------------- */
/* LANDINGPAGE */
/* ------------------- */

/* ================
   About.jsx 
================ */

/* .contenido.about-me {
  display:flex;
  flex-wrap: wrap;

  gap: 3rem;
} */

.contenido.about-me{
  display:grid;
  grid-template-columns:1fr 270px;
  /* grid-template-areas es una forma de poner nombres 
  a las zonas del grid para que el CSS sea mucho más legible. */
  grid-template-areas: "title image" "text image";

  gap:3rem;
  align-items:start;
}

.contenido.about-me h2{
  /* nombre de su zona grid */
  grid-area: title;
  margin: 0;
}

.letter{
  grid-area: text;
  /* flex: 1 0 40vw; */
}
.letter p:last-of-type {
  margin-bottom: 2rem;
}

.contenido.about-me .image {
  /* max-width: 270px; */
  /* float: right; */
  
  /* nombre de su zona grid */
  grid-area: image;
}

.image img {
  width: 100%;
  object-fit: cover;
}

@media (max-width:426px){
  .contenido.about-me{
    grid-template-columns:1fr;
    grid-template-areas: "title" "image" "text";
    
    gap:2rem;
  }

  .image {
    justify-self:center;
  }
  .image img{
    max-width: 70vw;
  }

}


/* ================
   Skills.jsx 
================ */

.contenido.skills {
  flex-direction: column;
  width: 100%;

  /* max-width:1400px; */
  /* margin:auto; */
  /* padding:90px 40px; */
}


/* SECCIONES */
.skill-section{
  display:grid;
  grid-template-columns: 20% 1fr;

  gap:40px;
  margin-bottom:35px;
}

@media(max-width:426px){
  .skill-section{
    grid-template-columns: 1fr;
    gap:0;
    margin:0;
    /* margin-bottom: 1.2rem; */
    padding: 1rem 2rem;

    /* border:1px solid; */
    /* border-color:rgba(120, 120, 255, 0.326); */
    /* box-shadow:
      0 0 25px rgba(30, 30, 255, 0.15),
      inset 0 1px 0 rgba(255,255,255,.06); */

    background: var(--bg-color-light);
  }
}

@media(max-width:768px){
  .skill-section{
    /* grid-template-columns: 40% 1fr; */
    display: flex;
    flex-direction: column;
  }
}

/* ARTICLE */

.skill-info{
  display:flex;
  gap:20px;
  height: fit-content;
  align-items: center;
}

.skill-icon {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-shrink:0; /* no crece ante espacio sobrante */

  position: relative;
  z-index: 1;

  width:75px;
  height:75px;
  aspect-ratio: 1/1;
  font-size: 1.8rem;

  border-radius:50%;
  border:2px solid var(--icon-color);
  
  background: var(--bg-color);
  color:var(--icon-color);
}
@media(max-width:426px){
  .skill-icon {
    width: 40px;
    height: 40px;
    font-size: 1rem;
  }
}


.skill-icon::before{
  content: "";
  position: absolute;
  inset: -18px;
  border-radius: 50%;
  filter: blur(10px);
  z-index: -1;
  opacity: 0.8;
  
  background: radial-gradient(
      circle,
      color-mix(in srgb, var(--glow-icon-color) 35%, transparent) 0%,
      color-mix(in srgb, var(--glow-icon-color) 15%, transparent) 45%,
      transparent 75%
  );

  animation: glowPulse 3s ease-in-out infinite;
}

@keyframes glowPulse {
  0%, 100%{
      opacity: 0.4;
  }

  50%{
      opacity: 1;
  }

}

.skill-section:nth-child(6) .skill-icon {
  --icon-color:#3d439b;
  --glow-icon-color:#4851cd;
}
.skill-section:nth-child(5) .skill-icon{
  --icon-color:#4b3f7b;
  --glow-icon-color:#6a57b7;
}
.skill-section:nth-child(4) .skill-icon{
  --icon-color: #6e4a64;
  --glow-icon-color: #8e547d;
}
.skill-section:nth-child(3) .skill-icon{
  --icon-color: #784b42; 
  --glow-icon-color: #955c50; 
}
.skill-section:nth-child(2) .skill-icon{
  --icon-color: #a0572e;
  --glow-icon-color: #e47b3f;
}

.skill-info h3{ font-size: 1.5rem; }

/* GRID */

.cards{
  display:grid;
  /* grid-template-columns:repeat(auto-fit,minmax(170px,1fr)); */

  gap: 1.4rem;
  padding: 1.2rem;

  height: fit-content;
  
  /* position: relative;
  overflow: hidden; */
  
  border-radius:8px;
  border:1px solid;
  border-color:rgba(120, 120, 255, 0.326);
  box-shadow:
    0 0 25px rgba(30, 30, 255, 0.15),
    inset 0 1px 0 rgba(255,255,255,.06);



  width: 955px;
  grid-template-columns: repeat(auto-fit,165px);
}
@media(max-width:426px){
  .cards {

    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    width: auto;
    padding: 1rem 0;

    border:none;
    box-shadow: none;
  }

  .card {
    flex-direction: row !important;
    justify-content: left !important;
    gap:0.5rem;

    padding:0 !important;
    padding-bottom: 0.8rem !important;
    width: 100% !important;

    background: var(--bg-color-light) !important;

    border:none !important;
    border-bottom: 1px solid #1b2559 !important;
    border-radius:0% !important;
  }
  .card::after { 
    display: none;
  }

  .card img {
    margin: 0 !important;
  }
}
@media(max-width:768px){
  .cards {
    width: auto !important;
  }

  .card {
    width: auto !important;
  }
}


/* CARD */

.card {
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  text-align: center;

  height:100%;
  padding:1rem;

  background:var(--bg-color-light);
  color: var(--txt-primary-color);

  border-radius:8px;
  border:1px solid var(--border-color);


  width: 160px;
}

.card img{
  width: 2.2rem;
  margin-bottom:18px;
}

.card span{
  font-weight:500;
}
/* linea inferior */
.card::after{
  content:"";

  width:45px;
  height:4px;

  margin-top:18px;
  border-radius:50px;
  background:var(--accent-color-2);
}





/* ------------------- */
/* PORTFOLIOPAGE */
/* ------------------- */

/* ProjectCard usado por ProjectsCarousel */

.project-card {
  /* width: auto; */
  width: 100%;
  height: 33em;

  background-color: var(--border-color);
  overflow: hidden;
}

@media (max-width: 768px) {
  .project-card { height: 45em;}
}


.project-image a img {
    width: 100%;
    height: 20em;
    object-fit: cover;
}

.project-content {
    padding: 1.3em;
    text-align: justify;

    display: flex;
    flex-direction: column;
}

.project-title {
    margin: 0 0 8px 0;
    font-size: 1.2rem;
    color: #ffffff;
}

.project-description {
  font-size: 0.9rem;
  color: #ffffffa8;
  margin-bottom: 12px;
}

.project-tags {  margin-bottom: 12px; }
.project-tags .tag {
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 0.75rem;
    margin-right: 6px;
    margin-bottom: 6px;
}


/* ViewProjectButton.jsx */

.view-project-btn {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  background-color: var(--accent-color-2);
  color: white;
  text-decoration: none;   /* quita subrayado */
  font-weight: 500;
  transition: all 0.2s ease;
}

.view-project-btn:hover {
  background-color: var(--primary-color);
  transform: translateY(-2px);
}

.view-project-btn:active {
  transform: translateY(0);
}

/* -------------------------------------------------------- */

/* EXPERIENCEPAGE */
/* Experiences.jsx */
.bg-primary-item { background-color: var(--border-color); }


/* Collaborations.jsx */
.bg-secondary-item { background-color: #403247; }


/* Card.jsx usado por Experiences y Collaborations */
.card-item {
    width: 90%;
    /* height: 13em; */
    padding: 1.5em;

    display: flex;
    align-items: center;
    /* align-content: center; */
    gap:2em;

    text-align: left;

    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 8px;

}

.card-image img{
    width: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.card-content{
    height: 100%;
    max-width: 70%;
    color:#fff;
}

.card-tags{ margin-top: 1em;}
.card-tags .tag{
    color:#fff;

    display: inline-block;

    padding: 4px 8px;
    font-size: 0.75rem;
    margin-right: 6px;
}

.card-link a {
    color:#fff;
    text-decoration: none;

    display: inline-block; /* para que aplique transform */
    transition: color 0.3s ease, transform 0.5s ease; /* Aplica la transición a la propiedad de color */
}
.card-link a:hover {
    color: var(--accent-color-2);
    transform: translateX(10px);
}

@media (max-width: 768px) {

  .card-item {
    width: 100%;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 1.2em;
  }

  .card-image img {
    width: 100%;
    aspect-ratio: 16/9;
  }

  .card-content {
    max-width: 100%;
  }

  .card-link {
    align-self: flex-end;
  }

}



/* FormationDropdown.jsx usado por Formations */
.formation-item{ 
    width: 90%;
    padding: 1.5em;

    display: flex;
    flex-direction: column;
    text-align: left;

    border: 1px solid var(--dark-txt-secondary-color);
}
@media (max-width: 768px) {
  .formation-item {
    width: 100%;
  }
}

.formation-header{ /* parte siempre visible */
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.formation-header button{ /* quita estilos del btn del desplegable */
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    /* color: inherit; Hereda el color del texto contenedor */
    /* font: inherit; Hereda la fuente del contenedor */
    outline: none; /* Elimina el borde al hacer click (accesibilidad) */
}
.formation-header button{ transition: transform 0.5s ease; }   /* botón desplegable se gira */
.formation-header button.active { transform: rotate(-90deg); }


.formation-knowns{  /* parte desplegada */ /* inactiva,  no se muestra */
    overflow: hidden;

    max-height: 0; /* sin altura */
    opacity: 0;     /* sin opacidad */
    transform: translateY(-10px);   /* queda 10px arriba */

    transition: 
    max-height 0.5s ease,
    opacity 0.3s ease,
    transform 0.5s ease;
}
.formation-knowns.active{ /* activa, se muestra */
    max-height: 30em; /* establece máximo suficiente para el contenido */
    opacity: 1;     /* establece opacidad */
    transform: translateY(0); /* se baja */
}