/* Estilos de mis componentes propios dentro de los /pages */

.contenido{
  width: 100%;
}

/* ------------------- */
/* LANDINGPAGE */
/* ------------------- */

/* ================
   About.jsx 
================ */

/* .contenido.about-me {
  display:flex;
  flex-wrap: wrap;

  gap: 3rem;
} */

.contenido.about-me{
  display:grid;
  grid-template-columns:1fr 270px;
  /* grid-template-areas es una forma de poner nombres 
  a las zonas del grid para que el CSS sea mucho más legible. */
  grid-template-areas: "title image" "text image";

  gap:3rem;
  align-items:start;
}

.contenido.about-me h2{
  /* nombre de su zona grid */
  grid-area: title;
  margin: 0;
}

.letter{
  grid-area: text;
  /* flex: 1 0 40vw; */
}
.letter p:last-of-type {
  margin-bottom: 2rem;
}

.contenido.about-me .image {
  /* max-width: 270px; */
  /* float: right; */
  
  /* nombre de su zona grid */
  grid-area: image;
}

.image img {
  width: 100%;
  object-fit: cover;
}

@media (max-width:426px){
  .contenido.about-me{
    grid-template-columns:1fr;
    grid-template-areas: "title" "image" "text";
    
    gap:2rem;
  }

  .image {
    justify-self:center;
  }
  .image img{
    max-width: 70vw;
  }

}


/* ================
   Skills.jsx 
================ */

.contenido.skills {
  display: flex;
  flex-direction: column;

  gap: 2rem;
}




/* ------------------- */
/* PORTFOLIOPAGE */
/* ------------------- */

/* TODO. pasar a componente */
/* PortfolioTabList.jsx */

nav.tablist {
  display:flex;
  flex-wrap: wrap;
  gap:2rem;
  padding:1.5rem;

  background-color: transparent;
  backdrop-filter: brightness(1) blur(100px) contrast(1.1) opacity(0.8);  

  border: transparent;
  border-radius: 15px;
}
@media(max-width:426px){
  nav.tablist {
    gap: 0.5rem;
    padding: 1.2rem;
    /* justify-content: space-around; */
  }

}

nav.tablist button {
  padding: 0.8rem 1.3rem;
  font-weight: 500;

  border: 0.5px solid #ffffff0e;
  border-radius: 30px;

  background-color: #0000001a;
  color: var(--txt-primary-color);

  position: relative;
  z-index: 1;
}

nav.tablist button.selected {
  background-color: var(--accent-color-2);
}

nav.tablist button.selected::before {
  content: "";
  position: absolute;
  inset: -20px; /* el resplandor se extiende más allá del botón */
  z-index: -1;
  border-radius: 5px;

  background: radial-gradient(
    circle,
    rgba(255, 115, 35, 0.6) 0%,
    rgba(255, 115, 35, 0.25) 40%,
    transparent 70%
  );

  filter: blur(12px);
}

section.tabpanel {
  display:flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem 4rem;
  background-color: transparent;
  backdrop-filter: brightness(1) blur(100px) contrast(1.1) opacity(0.8);  

  border: transparent;
  border-radius: 15px;
}

@media(max-width:1024px){
  section.tabpanel {
    padding: 0;
  }
}

/* PortfolioCarousel.jsx */

section.tabpanel .carousel-cards {
  /* justify-content: space-between; */
  max-width:70%; 
  margin:3rem auto; 
  display:flex;
  justify-content: center; 
  gap:2rem;
}

/* @media(max-width:768px){ */
@media(max-width:1024px){
  section.tabpanel .carousel-cards {
    max-width: 75% !important;
    gap: 1.5rem !important;
  }
}

/* override */

.carousel-inner {
  position: relative;
  height:75vh;
}
.carousel-item-next,
.carousel-item-prev {
  position: absolute;
  top: 0;
  width: 100%;
}

@media(max-width:1024px){
  .carousel-inner {
    height:80vh;
  }
}
@media(max-width:768px){
  .carousel-inner {
    height:75vh;
  }
}

.card {
  color: #fff;
  background: #1210131e;
  
  border: 1px solid #ffffff28;

  padding: 0.5rem;
  backdrop-filter: brightness(0.6);
  
  max-width: 50%;
}

.card .card-body .head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.card .card-body .head .category {
  background-color: #502684;
  color:#ffffffda;
  font-size: 0.85rem;
  font-weight: 500;

  padding: 0.5rem;
  border-radius: 5px;
}

.card .card-body .content{
  display:flex;
  flex-direction: column;
  gap:0.5rem;
}

.card .card-body .content .card-text, 
.card .card-body .content .tags {
  color:#ffffffc5;
  margin-bottom: 0;
}

.card .card-body .content .tags {
  font-size:0.85rem;
}

.card .card-body .content .card-link {
  color:var(--accent-color);
  text-decoration: none;
}
.card-link span {
  margin-right: 0.3rem;
}


@media(max-width:768px){
  .card .card-body .head .category {
    font-size: 0.75rem;
    padding: 0.4rem;
  }

  .card .card-body .content .tags {
    font-size:0.75rem;
  }
}
@media(max-width:426px){
  .card{
    max-width: 95%;
  }
}

/* ProjectCard usado por ProjectsCarousel */

.project-card {
  /* width: auto; */
  width: 100%;
  height: 33em;

  background-color: var(--border-color);
  overflow: hidden;
}

@media (max-width: 768px) {
  .project-card { height: 45em;}
}


.project-image a img {
    width: 100%;
    height: 20em;
    object-fit: cover;
}

.project-content {
    padding: 1.3em;
    text-align: justify;

    display: flex;
    flex-direction: column;
}

.project-title {
    margin: 0 0 8px 0;
    font-size: 1.2rem;
    color: #ffffff;
}

.project-description {
  font-size: 0.9rem;
  color: #ffffffa8;
  margin-bottom: 12px;
}

.project-tags {  margin-bottom: 12px; }
.project-tags .tag {
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 0.75rem;
    margin-right: 6px;
    margin-bottom: 6px;
}


/* ViewProjectButton.jsx */

.view-project-btn {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  background-color: var(--accent-color-2);
  color: white;
  text-decoration: none;   /* quita subrayado */
  font-weight: 500;
  transition: all 0.2s ease;
}

.view-project-btn:hover {
  background-color: var(--primary-color);
  transform: translateY(-2px);
}

.view-project-btn:active {
  transform: translateY(0);
}

/* -------------------------------------------------------- */

/* EXPERIENCEPAGE */
/* Experiences.jsx */
.bg-primary-item { background-color: var(--border-color); }


/* Collaborations.jsx */
.bg-secondary-item { background-color: #403247; }


/* Card.jsx usado por Experiences y Collaborations */
.card-item {
    width: 90%;
    /* height: 13em; */
    padding: 1.5em;

    display: flex;
    align-items: center;
    /* align-content: center; */
    gap:2em;

    text-align: left;

    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 8px;

}

.card-image img{
    width: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.card-content{
    height: 100%;
    max-width: 70%;
    color:#fff;
}

.card-tags{ margin-top: 1em;}
.card-tags .tag{
    color:#fff;

    display: inline-block;

    padding: 4px 8px;
    font-size: 0.75rem;
    margin-right: 6px;
}

.card-link a {
    color:#fff;
    text-decoration: none;

    display: inline-block; /* para que aplique transform */
    transition: color 0.3s ease, transform 0.5s ease; /* Aplica la transición a la propiedad de color */
}
.card-link a:hover {
    color: var(--accent-color-2);
    transform: translateX(10px);
}

@media (max-width: 768px) {

  .card-item {
    width: 100%;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 1.2em;
  }

  .card-image img {
    width: 100%;
    aspect-ratio: 16/9;
  }

  .card-content {
    max-width: 100%;
  }

  .card-link {
    align-self: flex-end;
  }

}



/* FormationDropdown.jsx usado por Formations */
.formation-item{ 
    width: 90%;
    padding: 1.5em;

    display: flex;
    flex-direction: column;
    text-align: left;

    border: 1px solid var(--dark-txt-secondary-color);
}
@media (max-width: 768px) {
  .formation-item {
    width: 100%;
  }
}

.formation-header{ /* parte siempre visible */
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.formation-header button{ /* quita estilos del btn del desplegable */
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    /* color: inherit; Hereda el color del texto contenedor */
    /* font: inherit; Hereda la fuente del contenedor */
    outline: none; /* Elimina el borde al hacer click (accesibilidad) */
}
.formation-header button{ transition: transform 0.5s ease; }   /* botón desplegable se gira */
.formation-header button.active { transform: rotate(-90deg); }


.formation-knowns{  /* parte desplegada */ /* inactiva,  no se muestra */
    overflow: hidden;

    max-height: 0; /* sin altura */
    opacity: 0;     /* sin opacidad */
    transform: translateY(-10px);   /* queda 10px arriba */

    transition: 
    max-height 0.5s ease,
    opacity 0.3s ease,
    transform 0.5s ease;
}
.formation-knowns.active{ /* activa, se muestra */
    max-height: 30em; /* establece máximo suficiente para el contenido */
    opacity: 1;     /* establece opacidad */
    transform: translateY(0); /* se baja */
}