/* CSS de mis propios componentes usados dentro de cada /page */
@import "./components.css";



/* ===================== 
   Reset.
===================== */

*, 
*::before, 
*::after { 
  box-sizing: border-box; 
  margin:0; 
  padding: 0;
}


body {
  color:var(--txt-primary-color);
  background-color: var(--bg-color);
}

/* Si body no contiene container de LandingPage */

body:not(:has(.container-page.landing)) {
    background:
    /* brillo naranja  */
    radial-gradient(
        circle at 100% 30%,
        rgba(255,115,35,0.35) 10%,
        rgba(255,115,35,0.18) 26%,
        rgba(255,115,35,0.08) 43%,
        transparent 70%
    ),

    /* transición morada  */
    radial-gradient(
        circle at 65% 50%,
        rgba(90,55,140,.28) 0%,
        rgba(70,40,110,.18) 30%,
        transparent 65%
    ),

    /* fondo azul  */
    linear-gradient(
        90deg,
        #0C1236 0%,
        #0d1436 45%,
        #1a1735 100%
    )
}

/* Desactivar scroll cuando un modal esté activo */
/* body.modal-active {
  overflow: hidden;
} */


ul {
  list-style: none; /* Elimina las viñetas */
  padding: 0;       /* Elimina el espaciado izquierdo */
  margin: 0;        /* Elimina márgenes superiores/inferiores */
}

hr{
  background-color: white;
  color:white;
  width: 80%;
  border: 1px solid white;
  height: 2px;
}

/* ===================== 
   Variables globales.
===================== */

:root {
  /* modo claro */
  /* --bg-color:#F9FAFB; */

  /* --txt-primary-color:#1F2937; */

  --bg-color:#0C1236;
  --bg-color-light: #0f1642;
  
  --txt-primary-color:#fff;
  --txt-secondary-color:#4B5563;
  
  --primary-color:#1E3A8A;
  
  --accent-color: rgb(240, 129, 29);
  --accent-color-2:  rgb(199, 101, 26);
  
  /* --border-color: #1E293B; */
  --border-color: #182050;

  /* morados-naranjado: */
  /* background-color:#7c5257; */
  /* background-color: #91574d; */
  
  /* morado oscuro: */
  /* background-color: #403247; */


  /* modo oscuro */
  --dark-bg-color:#0F172A;
  --dark-txt-primary-color:#F1F5F9;
  --dark-txt-secondary-color:#94A3B8;
  --dark-primary-color:#3B82F6;
  --dark-accent-color:#FB923C;
  --dark-border-color:#1E293B;
}

/* ===================== 
   Overrides bootstrap.
===================== */

.btn {
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.6rem;
  --bs-border-width: 1.5px;
}

.btn-lg, .btn-md, .btn-sm{
  --bs-btn-color: white;
  --bs-btn-border-color: var(--accent-color-2);
  
  --bs-btn-hover-bg: var(--accent-color-2);
  --bs-btn-hover-border-color: var(--accent-color-2);
  
  --bs-btn-active-bg: var(--accent-color-2);
  --bs-btn-active-border-color: var(--accent-color-2);
}
.btn-lg {
  --bs-btn-font-size: 1.1rem;

  --bs-btn-padding-x: 2.4rem;
  --bs-btn-padding-y: 1rem;
}


.btn-primary {
    --bs-btn-bg: var(--txt-secondary-color);
    --bs-btn-border-color: var(--txt-secondary-color);
    --bs-btn-hover-bg: var(--border-color);
    --bs-btn-hover-border-color: var(--border-color);
    --bs-btn-active-bg: var(--border-color);
    --bs-btn-active-border-color: var(--border-color);
    --bs-btn-disabled-bg: var(--txt-secondary-color);
    --bs-btn-disabled-border-color: var(--txt-secondary-color);

    max-width: min-content;
    width: min(200px, 100%);
}

