/* Estilos base de los /pages */

.container-page{
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: center;
  
  background-color: var(--bg-color);  
  
  width: 100%;
  padding: clamp(7rem, 10vw, 10rem); 
  /* gap: clamp(3rem, 6vw, 6rem); */
  gap: clamp(7rem, 11vw, 11rem);

  /* clamp(mínimo, preferido, máximo) 
    Mínimo -- El valor más pequeño permitido.
    Preferido -- El valor que se aplicará normalmente, a menudo una unidad relativa como % o vw.
    Máximo -- El valor más grande permitido */  
}

.section, 
section{
  display: flex;
  flex-direction: column;
  gap:1.3em;
  
}

.section h2, 
.container-page section h2{
  font-size: clamp(1.5rem, 4vw, 2.2rem);
  /* text-align: center; */
  /* padding-bottom: 20px; */

  text-align: left;
  margin-bottom: 2rem;
  padding-bottom: 20px;

  position: relative;
  width:fit-content;
}
/* border bajo el título */
.container-page section h2::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 40%; /* ajusta length */
  height: 2.3px;
  background-color: var(--accent-color); /* color del border */
}


/* .container.about-me { */
.contenido {
  display:flex;
  flex-wrap: wrap;
}








.section.aligned, 
section.aligned{
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.subsection {
    display: flex;
    flex-wrap: wrap; /* obliga a saltar de línea, los hijos no se encogen */
    justify-content: center;

    flex-direction: column;
    gap:3em;
}

.subsection.row{
    flex-direction: row;
    gap: clamp(1rem, 4vw, 2rem);
}

.subsection.cards-column{ align-items: center; }

.subsection.dropdown{ 
    align-items: center; 
    gap:0; 
}




