
/* ===================== 
   Hero.jsx
   Contiene Header, XIntro
===================== */

.hero-container {
  display: flex;
  flex-direction: column;

  height: 70vh;
  background: transparent;

  padding: 1.2rem;
  justify-content: space-between;
  gap: 2rem;
}

@media(max-width:768px){
  .hero-container {
    background-position: 60% 100%;
    padding: 2rem;
  }
}

/* Variante landing */
.hero-container.landing{
  height: 100vh;

  background: url(/images/background.png);
  background-position: 5%;
  background-repeat: no-repeat;
  background-size: cover;
}
