/* ===================== 
   Estilos base de los XPage
===================== */

.container-page{
  display: flex;
  flex-direction: column;
  
  /* align-items: center; */
  justify-content: center;
  
  background-color: transparent;
    
  width: 100%;
  padding: clamp(2rem, 4vw, 4rem) clamp(2rem, 12vw, 12rem);
  gap: clamp(2rem, 4vw, 5rem);

  /* clamp(mínimo, preferido, máximo)
    Mínimo -- El valor más pequeño permitido.
    Preferido -- El valor que se aplicará normalmente, a menudo una unidad relativa como % o vw.
    Máximo -- El valor más grande permitido */
}

@media(max-width:768px){
  .container-page{
    padding: 2rem !important;
  }
}

@media (max-width: 320px) {
  .container-page {
      padding: 1.3rem !important;
  }
}

@media(max-width:1024px){
  .container-page{
    padding: 6rem;
  }
}

.container-page section {
  display:flex;
  flex-direction: column;
  gap: 1.3em;
}

/* todos menos landing */

/* section.tabpanel { */
.container-page:not(.landing) section {
  align-items: center;

  padding: 5rem 7rem;
  background-color: transparent;
  backdrop-filter: brightness(1) blur(100px) contrast(1.1) opacity(0.8);  

  border: transparent;
  border-radius: 15px;
}

.container-page.portfolio section {
  padding: 2rem 4rem;
}

@media(max-width:426px){
.container-page:not(.landing) section {
    padding: 1.5rem;
  }
}

.container-page section h2{
  font-size: clamp(1.8rem, 4vw, 2.2rem);

  text-align: left;
  margin-bottom: 2rem;
  padding-bottom: 1rem;

  position: relative;
  width:fit-content;
}

/* border bajo el título */
.container-page section h2::after {
  content: "";
  position: absolute;
  
  left: 0;
  right: 0;
  bottom: 0;

  width: 40%; /* ajusta length */
  height: 2.3px;
  background-color: var(--accent-color); /* color del border */
}

/* Variantes */

.container-page.landing {
  padding: clamp(2rem, 10vw, 10rem) clamp(2rem, 12vw, 12rem);
  background-color: var(--bg-color);  

  gap: clamp(9rem, 13vw, 13rem);
}



