/* ===================== 
   FormationDropdown.jsx
   ** unused
===================== */

.formation-item{ 
    width: 90%;
    padding: 1.5em;

    display: flex;
    flex-direction: column;
    text-align: left;

    border: 1px solid var(--dark-txt-secondary-color);
}
@media (max-width: 768px) {
  .formation-item {
    width: 100%;
  }
}

.formation-header{ /* parte siempre visible */
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.formation-header button{ /* quita estilos del btn del desplegable */
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    /* color: inherit; Hereda el color del texto contenedor */
    /* font: inherit; Hereda la fuente del contenedor */
    outline: none; /* Elimina el borde al hacer click (accesibilidad) */
}
.formation-header button{ transition: transform 0.5s ease; }   /* botón desplegable se gira */
.formation-header button.active { transform: rotate(-90deg); }


.formation-knowns{  /* parte desplegada */ /* inactiva,  no se muestra */
    overflow: hidden;

    max-height: 0; /* sin altura */
    opacity: 0;     /* sin opacidad */
    transform: translateY(-10px);   /* queda 10px arriba */

    transition: 
    max-height 0.5s ease,
    opacity 0.3s ease,
    transform 0.5s ease;
}
.formation-knowns.active{ /* activa, se muestra */
    max-height: 30em; /* establece máximo suficiente para el contenido */
    opacity: 1;     /* establece opacidad */
    transform: translateY(0); /* se baja */
}